In [4]:
import pandas as pd
from mldb import DataPreprocessor, read_csv_data, read_arff_data

In [1]:
import mldb.binary_classification as bin_clas

In [2]:
len(bin_clas.get_data_loaders())

119

In [3]:
import mldb.multiclass_classification as multclas

len(multclas.get_data_loaders())

23

In [4]:
import mldb.multiclass_classification as regression

len(regression.get_data_loaders())

23

In [1]:
from mldb import references

In [3]:
import mldb.binary_classification as binclas

dataset = binclas.load_abalone19()

all_data_loaders = binclas.get_data_loaders()

In [ ]:
binclas.summary

In [4]:
dataset

{'data': array([[0.455 , 0.365 , 0.095 , ..., 0.15  , 0.    , 1.    ],
        [0.35  , 0.265 , 0.09  , ..., 0.07  , 0.    , 1.    ],
        [0.53  , 0.42  , 0.135 , ..., 0.21  , 0.    , 0.    ],
        ...,
        [0.59  , 0.44  , 0.135 , ..., 0.2605, 0.    , 1.    ],
        [0.6   , 0.475 , 0.205 , ..., 0.308 , 0.    , 1.    ],
        [0.625 , 0.485 , 0.15  , ..., 0.296 , 0.    , 0.    ]]),
 'target': array([0, 0, 0, ..., 0, 0, 0]),
 'feature_names': ['numerical__imputer__Length',
  'numerical__imputer__Diameter',
  'numerical__imputer__Height',
  'numerical__imputer__Whole_weight',
  'numerical__imputer__Shucked_weight',
  'numerical__imputer__Viscera_weight',
  'numerical__imputer__Shell_weight',
  "category__imputation_encoding__Sex_b'I'",
  "category__imputation_encoding__Sex_b'M'"],
 'feature_types': {'Sex': 'nominal',
  'Length': 'numeric',
  'Diameter': 'numeric',
  'Height': 'numeric',
  'Whole_weight': 'numeric',
  'Shucked_weight': 'numeric',
  'Viscera_weight': 'numeric',
  'Shell_weight': 'numeric',
  'Class': 'nominal'},
 'target_label': 'Class',
 'name': 'abalone19',
 'phenotype': 'abalone',
 'citation': '@article{keel,\nauthor={Alcala-Fdez, J. and Fernandez, A. and Luengo, J. and Derrac, J. and Garcia, S. and Sanchez, L. and Herrera, F.},\ntitle={KEEL Data-Mining Software Tool: Data Set Repository, Integration of Algorithms and Experimental Analysis Framework},\njournal={Journal of Multiple-Valued Logic and Soft Computing},\nvolume={17},\nnumber={2-3},\nyear={2011},\npages={255-287}\n}\n',
 'citation_key': 'keel',
 'n_col': 9,
 'n_col_orig': 8,
 'n_col_non_unique_orig': 8,
 'n': 4174,
 'DESCR': 'abalone19',
 'n_minority': 32,
 'imbalance_ratio': 129.4375}

In [6]:
tmp = pd.DataFrame({'a': [1, 2, 3]})

In [9]:
for idx, val in tmp.iterrows():
    print(idx, val[0])

0 1
1 2
2 3

In [10]:
pd.DataFrame([1, 2, 3, 4])

   0
0  1
1  2
2  3
3  4

In [2]:
for loader in dir(bin_clas):
    if loader.startswith('load'):
        loader = getattr(bin_clas, loader)
        _ = loader()

abalone19 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
abalone9_18 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
abalone-17_vs_7-8-9-10 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
abalone-19_vs_10-11-12-13 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
abalone-20_vs_8_9_10 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
abalone-22_vs_8 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
abalone-3_vs_11 Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Class             0
dtype: int64 0
ADA 0               0
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0
13              0
14              0
15              0
16              0
17              0
18              0
19              0
20              0
21              0
22              0
23              0
24              0
25              0
26              0
27              0
28              0
29              0
30              0
31              0
32              0
33              0
34              0
35              0
36              0
37              0
38              0
39              0
40              0
41              0
42              0
43              0
44              0
45              0
46              0
47              0
target_label    0
dtype: int64 0
appendicitis At1      0
At2      0
At3      0
At4      0
At5      0
At6      0
At7      0
Class    0
dtype: int64 0
australian A1       0
A2       0
A3       0
A4       0
A5       0
A6       0
A7       0
A8       0
A9       0
A10      0
A11      0
A12      0
A13      0
A14      0
Class    0
dtype: int64 0
bupa Mcv         0
Alkphos     0
Sgpt        0
Sgot        0
Gammagt     0
Drinks      0
Selector    0
dtype: int64 0
car_good Buying      0
Maint       0
Doors       0
Persons     0
Lug_boot    0
Safety      0
Class       0
dtype: int64 0
car-vgood Buying      0
Maint       0
Doors       0
Persons     0
Lug_boot    0
Safety      0
Class       0
dtype: int64 0
cleveland-0_vs_4 age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64 0
CM1 loc                  0
v(g)                 0
ev(g)                0
iv(g)                0
n                    0
v                    0
l                    0
d                    0
i                    0
e                    0
b                    0
t                    0
lOCode               0
lOComment            0
lOBlank              0
locCodeAndComment    0
uniq_Op              0
uniq_Opnd            0
total_Op             0
total_Opnd           0
branchCount          0
defects              0
dtype: int64 0
crx A1       0
A2       0
A3       0
A4       0
A5       0
A6       0
A7       0
A8       0
A9       0
A10      0
A11      0
A12      0
A13      0
A14      0
A15      0
Class    0
dtype: int64 0
dermatology-6 Erythema                        0
Scaling                         0
Definite_borders                0
Itching                         0
Koebner_phenomenon              0
Polygonal_papules               0
Follicular_papules              0
Oral_mucosal                    0
Knee_and_elbow                  0
Scalp_involvement               0
Family_history                  0
Melanin_incontinence            0
Eosinophils                     0
PNL_infiltrate                  0
Fibrosis                        0
Exocytosis                      0
Acanthosis                      0
Hyperkeratosis                  0
Parakeratosis                   0
Clubbing                        0
Elongation                      0
Thinning                        0
Spongiform_pustule              0
Munro_microabcess               0
Focal_hypergranulosis           0
Granular_layer                  0
Vacuolisation                   0
Spongiosis                      0
Saw-tooth_appearance            0
Follicular_horn_plug            0
Perifollicular_parakeratosis    0
Inflammatory_monoluclear        0
Band-like_infiltrate            0
Age                             0
Class                           0
dtype: int64 0
ecoli1 Mcg      0
Gvh      0
Lip      0
Chg      0
Aac      0
Alm1     0
Alm2     0
Class    0
dtype: int64 0
ecoli2 Mcg      0
Gvh      0
Lip      0
Chg      0
Aac      0
Alm1     0
Alm2     0
Class    0
dtype: int64 0
ecoli3 Mcg      0
Gvh      0
Lip      0
Chg      0
Aac      0
Alm1     0
Alm2     0
Class    0
dtype: int64 0
ecoli4 Mcg      0
Gvh      0
Lip      0
Chg      0
Aac      0
Alm1     0
Alm2     0
Class    0
dtype: int64 0
ecoli_0_1_3_7_vs_2_6 Mcg      0
Gvh      0
Lip      0
Chg      0
Aac      0
Alm1     0
Alm2     0
Class    0
dtype: int64 0
ecoli_0_1_4_6_vs_5 a1       0
a2       0
a3       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_1_4_7_vs_2_3_5_6 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_1_4_7_vs_5_6 a1       0
a2       0
a3       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_1_vs_2_3_5 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_1_vs_5 a1       0
a2       0
a3       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_2_3_4_vs_5 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_2_6_7_vs_3_5 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_3_4_6_vs_5 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_3_4_7_vs_5_6 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_3_4_vs_5 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_4_6_vs_5 a1       0
a2       0
a3       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_6_7_vs_3_5 a1       0
a2       0
a3       0
a4       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_6_7_vs_5 a1       0
a2       0
a3       0
a5       0
a6       0
a7       0
class    0
dtype: int64 0
ecoli_0_vs_1 Mcg      0
Gvh      0
Lip      0
Chg      0
Aac      0
Alm1     0
Alm2     0
Class    0
dtype: int64 0
flare-F LargestSpotSize     0
SpotDistribution    0
Activity            0
Evolution           0
Prev24Hour          0
HistComplex         0
BecomeHist          0
Area                0
C-class             0
M-class             0
X-class             0
Class               0
dtype: int64 0
german 0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
target    0
dtype: int64 0
glass0 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass1 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass2 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass4 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass5 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass6 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass_0_1_2_3_vs_4_5_6 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass_0_1_4_6_vs_2 RI           0
Na           0
Mg           0
Al           0
Si           0
K            0
Ca           0
Ba           0
Fe           0
typeGlass    0
dtype: int64 0
glass_0_1_5_vs_2 RI           0
Na           0
Mg           0
Al           0
Si           0
K            0
Ca           0
Ba           0
Fe           0
typeGlass    0
dtype: int64 0
glass_0_1_6_vs_2 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass_0_1_6_vs_5 RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
Class    0
dtype: int64 0
glass_0_4_vs_5 RI           0
Na           0
Mg           0
Al           0
Si           0
K            0
Ca           0
Ba           0
Fe           0
typeGlass    0
dtype: int64 0
glass_0_6_vs_5 RI           0
Na           0
Mg           0
Al           0
Si           0
K            0
Ca           0
Ba           0
Fe           0
typeGlass    0
dtype: int64 0
haberman Age         0
Year        0
Positive    0
Class       0
dtype: int64 0
hepatitis target     0
1          0
2          0
3          1
4          0
5          1
6          1
7          1
8         10
9         11
10         5
11         5
12         5
13         5
14         6
15        29
16         4
17        16
18        67
19         0
dtype: int64 0
HIVA 0          0
1          0
2          0
3          0
4          0
        ...
1613       0
1614       0
1615       0
1616       0
1617    3845
Length: 1618, dtype: int64 0
hypothyroid target       0
1          446
2           73
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15         468
16           0
17         695
18           0
19         249
20           0
21         248
22           0
23         247
24           0
25        2903
dtype: int64 0
ionosphere Pulse1     0
Pulse3     0
Pulse4     0
Pulse5     0
Pulse6     0
Pulse7     0
Pulse8     0
Pulse9     0
Pulse10    0
Pulse11    0
Pulse12    0
Pulse13    0
Pulse14    0
Pulse15    0
Pulse16    0
Pulse17    0
Pulse18    0
Pulse19    0
Pulse20    0
Pulse21    0
Pulse22    0
Pulse23    0
Pulse24    0
Pulse25    0
Pulse26    0
Pulse27    0
Pulse28    0
Pulse29    0
Pulse30    0
Pulse31    0
Pulse32    0
Pulse33    0
Pulse34    0
Class      0
dtype: int64 0
iris0 SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Class          0
dtype: int64 0
KC1 loc                  0
v(g)                 0
ev(g)                0
iv(g)                0
n                    0
v                    0
l                    0
d                    0
i                    0
e                    0
b                    0
t                    0
lOCode               0
lOComment            0
lOBlank              0
locCodeAndComment    0
uniq_Op              0
uniq_Opnd            0
total_Op             0
total_Opnd           0
branchCount          0
defects              0
dtype: int64 0
kddcup-buffer_overflow_vs_back Atr-0     0
Atr-1     0
Atr-2     0
Atr-3     0
Atr-4     0
Atr-5     0
Atr-6     0
Atr-7     0
Atr-8     0
Atr-9     0
Atr-10    0
Atr-11    0
Atr-12    0
Atr-13    0
Atr-14    0
Atr-15    0
Atr-16    0
Atr-17    0
Atr-18    0
Atr-19    0
Atr-20    0
Atr-21    0
Atr-22    0
Atr-23    0
Atr-24    0
Atr-25    0
Atr-26    0
Atr-27    0
Atr-28    0
Atr-29    0
Atr-30    0
Atr-31    0
Atr-32    0
Atr-33    0
Atr-34    0
Atr-35    0
Atr-36    0
Atr-37    0
Atr-38    0
Atr-39    0
Atr-40    0
Class     0
dtype: int64 0
kddcup-guess_passwd_vs_satan Atr-0     0
Atr-1     0
Atr-2     0
Atr-3     0
Atr-4     0
Atr-5     0
Atr-6     0
Atr-7     0
Atr-8     0
Atr-9     0
Atr-10    0
Atr-11    0
Atr-12    0
Atr-13    0
Atr-14    0
Atr-15    0
Atr-16    0
Atr-17    0
Atr-18    0
Atr-19    0
Atr-20    0
Atr-21    0
Atr-22    0
Atr-23    0
Atr-24    0
Atr-25    0
Atr-26    0
Atr-27    0
Atr-28    0
Atr-29    0
Atr-30    0
Atr-31    0
Atr-32    0
Atr-33    0
Atr-34    0
Atr-35    0
Atr-36    0
Atr-37    0
Atr-38    0
Atr-39    0
Atr-40    0
Class     0
dtype: int64 0
kddcup-land_vs_portsweep Atr-0     0
Atr-1     0
Atr-2     0
Atr-3     0
Atr-4     0
Atr-5     0
Atr-6     0
Atr-7     0
Atr-8     0
Atr-9     0
Atr-10    0
Atr-11    0
Atr-12    0
Atr-13    0
Atr-14    0
Atr-15    0
Atr-16    0
Atr-17    0
Atr-18    0
Atr-19    0
Atr-20    0
Atr-21    0
Atr-22    0
Atr-23    0
Atr-24    0
Atr-25    0
Atr-26    0
Atr-27    0
Atr-28    0
Atr-29    0
Atr-30    0
Atr-31    0
Atr-32    0
Atr-33    0
Atr-34    0
Atr-35    0
Atr-36    0
Atr-37    0
Atr-38    0
Atr-39    0
Atr-40    0
Class     0
dtype: int64 0
kddcup-land_vs_satan Atr-0     0
Atr-1     0
Atr-2     0
Atr-3     0
Atr-4     0
Atr-5     0
Atr-6     0
Atr-7     0
Atr-8     0
Atr-9     0
Atr-10    0
Atr-11    0
Atr-12    0
Atr-13    0
Atr-14    0
Atr-15    0
Atr-16    0
Atr-17    0
Atr-18    0
Atr-19    0
Atr-20    0
Atr-21    0
Atr-22    0
Atr-23    0
Atr-24    0
Atr-25    0
Atr-26    0
Atr-27    0
Atr-28    0
Atr-29    0
Atr-30    0
Atr-31    0
Atr-32    0
Atr-33    0
Atr-34    0
Atr-35    0
Atr-36    0
Atr-37    0
Atr-38    0
Atr-39    0
Atr-40    0
Class     0
dtype: int64 0
kddcup-rootkit-imap_vs_back Atr-0     0
Atr-1     0
Atr-2     0
Atr-3     0
Atr-4     0
Atr-5     0
Atr-6     0
Atr-7     0
Atr-8     0
Atr-9     0
Atr-10    0
Atr-11    0
Atr-12    0
Atr-13    0
Atr-14    0
Atr-15    0
Atr-16    0
Atr-17    0
Atr-18    0
Atr-19    0
Atr-20    0
Atr-21    0
Atr-22    0
Atr-23    0
Atr-24    0
Atr-25    0
Atr-26    0
Atr-27    0
Atr-28    0
Atr-29    0
Atr-30    0
Atr-31    0
Atr-32    0
Atr-33    0
Atr-34    0
Atr-35    0
Atr-36    0
Atr-37    0
Atr-38    0
Atr-39    0
Atr-40    0
Class     0
dtype: int64 0
kr_vs_k_one_vs_fifteen White_king_col    0
White_king_row    0
White_rook_col    0
White_rook_row    0
Black_king_col    0
Black_king_row    0
Class             0
dtype: int64 0
kr-vs-k-three_vs_eleven White_king_col    0
White_king_row    0
White_rook_col    0
White_rook_row    0
Black_king_col    0
Black_king_row    0
Class             0
dtype: int64 0
kr-vs-k-zero-one_vs_draw White_king_col    0
White_king_row    0
White_rook_col    0
White_rook_row    0
Black_king_col    0
Black_king_row    0
Class             0
dtype: int64 0
kr-vs-k-zero_vs_eight White_king_col    0
White_king_row    0
White_rook_col    0
White_rook_row    0
Black_king_col    0
Black_king_row    0
Class             0
dtype: int64 0
kr-vs-k-zero_vs_fifteen White_king_col    0
White_king_row    0
White_rook_col    0
White_rook_row    0
Black_king_col    0
Black_king_row    0
Class             0
dtype: int64 0
led7digit-0-2-4-6-7-8-9_vs_1 Led1      0
Led2      0
Led3      0
Led4      0
Led5      0
Led6      0
Led7      0
number    0
dtype: int64 0
lymphography Lymphatics         0
Block_of_affere    0
Bl_of_lymph_c      0
Bl_of_lymph_s      0
By_pass            0
Extravasates       0
Regeneration_of    0
Early_uptake_in    0
Lym_nodes_dimin    0
Lym_nodes_enlar    0
Changes_in_lym     0
Defect_in_node     0
Changes_in_node    0
Changes_in_stru    0
Special_forms      0
Dislocation_of     0
Exclusion_of_no    0
No_of_nodes_in     0
Class              0
dtype: int64 0
lymphography-normal-fibrosis Lymphatics         0
Block_of_affere    0
Bl_of_lymph_c      0
Bl_of_lymph_s      0
By_pass            0
Extravasates       0
Regeneration_of    0
Early_uptake_in    0
Lym_nodes_dimin    0
Lym_nodes_enlar    0
Changes_in_lym     0
Defect_in_node     0
Changes_in_node    0
Changes_in_stru    0
Special_forms      0
Dislocation_of     0
Exclusion_of_no    0
No_of_nodes_in     0
Class              0
dtype: int64 0
mammographic BI-RADS     0
Age         0
Shape       0
Margin      0
Density     0
Severity    0
dtype: int64 0
australian A1       0
A2       0
A3       0
A4       0
A5       0
A6       0
Class    0
dtype: int64 0
new_thyroid1 T3resin               0
Thyroxin              0
Triiodothyronine      0
Thyroidstimulating    0
TSH_value             0
Class                 0
dtype: int64 0
new_thyroid2 Height      0
Lenght      0
Area        0
Eccen       0
P_black     0
P_and       0
Mean_tr     0
Blackpix    0
Blackand    0
Wb_trans    0
Class       0
dtype: int64 0
page-blocks-1-3_vs_4 Height      0
Lenght      0
Area        0
Eccen       0
P_black     0
P_and       0
Mean_tr     0
Blackpix    0
Blackand    0
Wb_trans    0
Class       0
dtype: int64 0
PC1 loc                  0
v(g)                 0
ev(g)                0
iv(G)                0
N                    0
V                    0
L                    0
D                    0
I                    0
E                    0
B                    0
T                    0
lOCode               0
lOComment            0
locCodeAndComment    0
lOBlank              0
uniq_Op              0
uniq_Opnd            0
total_Op             0
total_Opnd           0
branchCount          0
defects              0
dtype: int64 0
pima Preg     0
Plas     0
Pres     0
Skin     0
Insu     0
Mass     0
Pedi     0
Age      0
Class    0
dtype: int64 0
poker-8-9_vs_5 S1       0
C1       0
S2       0
C2       0
S3       0
C3       0
S4       0
C4       0
S5       0
C5       0
Class    0
dtype: int64 0
poker-8-9_vs_6 S1       0
C1       0
S2       0
C2       0
S3       0
C3       0
S4       0
C4       0
S5       0
C5       0
Class    0
dtype: int64 0
poker-8_vs_6 S1       0
C1       0
S2       0
C2       0
S3       0
C3       0
S4       0
C4       0
S5       0
C5       0
Class    0
dtype: int64 0
poker-9_vs_7 S1       0
C1       0
S2       0
C2       0
S3       0
C3       0
S4       0
C4       0
S5       0
C5       0
Class    0
dtype: int64 0
saheart Sbp          0
Tobacco      0
Ldl          0
Adiposity    0
Famhist      0
Typea        0
Obesity      0
Alcohol      0
Age          0
Chd          0
dtype: int64 0
SATIMAGE 0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
target    0
dtype: int64 0
segment0 Region-centroid-col     0
Region-centroid-row     0
Region-pixel-count      0
Short-line-density-5    0
Short-line-density-2    0
Vedge-mean              0
Vegde-sd                0
Hedge-mean              0
Hedge-sd                0
Intensity-mean          0
Rawred-mean             0
Rawblue-mean            0
Rawgreen-mean           0
Exred-mean              0
Exblue-mean             0
Exgreen-mean            0
Value-mean              0
Saturatoin-mean         0
Hue-mean                0
Class                   0
dtype: int64 0
shuttle-2_vs_5 A1       0
A2       0
A3       0
A4       0
A5       0
A6       0
A7       0
A8       0
A9       0
Class    0
dtype: int64 0
shuttle-6_vs_2-3 A1       0

In [4]:
bin_clas.load_kddcup_buffer_overflow_vs_back()

42 42

{'data': array([[0.000e+00, 5.454e+04, 8.314e+03, ..., 0.000e+00, 1.000e+00,
         0.000e+00],
        [0.000e+00, 5.454e+04, 8.314e+03, ..., 0.000e+00, 1.000e+00,
         0.000e+00],
        [0.000e+00, 5.454e+04, 8.314e+03, ..., 0.000e+00, 1.000e+00,
         0.000e+00],
        ...,
        [1.760e+02, 1.559e+03, 2.732e+03, ..., 0.000e+00, 1.000e+00,
         1.000e+00],
        [6.100e+01, 2.336e+03, 4.194e+03, ..., 0.000e+00, 1.000e+00,
         1.000e+00],
        [4.700e+01, 2.402e+03, 3.816e+03, ..., 0.000e+00, 1.000e+00,
         1.000e+00]]),
 'target': array([0, 0, 0, ..., 1, 1, 1]),
 'feature_names': ['numerical__imputer__Atr-0',
  'numerical__imputer__Atr-4',
  'numerical__imputer__Atr-5',
  'numerical__imputer__Atr-9',
  'numerical__imputer__Atr-12',
  'numerical__imputer__Atr-15',
  'numerical__imputer__Atr-16',
  'numerical__imputer__Atr-22',
  'numerical__imputer__Atr-23',
  'numerical__imputer__Atr-24',
  'numerical__imputer__Atr-25',
  'numerical__imputer__Atr-26',
  'numerical__imputer__Atr-27',
  'numerical__imputer__Atr-28',
  'numerical__imputer__Atr-29',
  'numerical__imputer__Atr-30',
  'numerical__imputer__Atr-31',
  'numerical__imputer__Atr-32',
  'numerical__imputer__Atr-33',
  'numerical__imputer__Atr-34',
  'numerical__imputer__Atr-35',
  'numerical__imputer__Atr-36',
  'numerical__imputer__Atr-37',
  'numerical__imputer__Atr-38',
  'numerical__imputer__Atr-39',
  'numerical__imputer__Atr-40',
  "category__imputation_encoding__Atr-2_b'ftp_data'",
  "category__imputation_encoding__Atr-2_b'http'",
  "category__imputation_encoding__Atr-2_b'telnet'",
  "category__imputation_encoding__Atr-3_b'RSTR'",
  "category__imputation_encoding__Atr-3_b'S1'",
  "category__imputation_encoding__Atr-3_b'S2'",
  "category__imputation_encoding__Atr-3_b'SF'",
  "category__imputation_encoding__Atr-13_b'1'"],
 'target_label': 'Class',
 'name': 'kddcup-buffer_overflow_vs_back',
 'citation': '@article{keel,\nauthor={Alcala-Fdez, J. and Fernandez, A. and Luengo, J. and Derrac, J. and Garcia, S. and Sanchez, L. and Herrera, F.},\ntitle={KEEL Data-Mining Software Tool: Data Set Repository, Integration of Algorithms and Experimental Analysis Framework},\njournal={Journal of Multiple-Valued Logic and Soft Computing},\nvolume={17},\nnumber={2-3},\nyear={2011},\npages={255-287}\n}\n',
 'n_col': 34,
 'n_col_orig': 41,
 'n': 2233,
 'n_minority': 30,
 'imb_ratio': 73.43333333333334}

In [13]:
db, meta = read_arff_data('data/classification/kddcup-buffer_overflow_vs_back/kddcup-buffer_overflow_vs_back.dat')

In [21]:
db

array([(  0., b'tcp', b'http', b'SF', 54540., 8314., b'0', b'0', b'0', 2., b'0', b'1', 1., b'0', b'0', 0., 0., b'0', b'0', b'0', b'0', b'0', 1., 2., 0., 0., 0., 0.5 , 1., 0., 1.  ,  1.,  1., 1., 0., 1.  , 0., 0., 0., 0.  , 0.  , b'negative'),
       (  0., b'tcp', b'http', b'SF', 54540., 8314., b'0', b'0', b'0', 2., b'0', b'1', 1., b'0', b'0', 0., 0., b'0', b'0', b'0', b'0', b'0', 2., 3., 0., 0., 0., 0.33, 1., 0., 0.67,  2.,  2., 1., 0., 0.5 , 0., 0., 0., 0.  , 0.  , b'negative'),
       (  0., b'tcp', b'http', b'SF', 54540., 8314., b'0', b'0', b'0', 2., b'0', b'1', 1., b'0', b'0', 0., 0., b'0', b'0', b'0', b'0', b'0', 3., 4., 0., 0., 0., 0.25, 1., 0., 0.5 ,  3.,  3., 1., 0., 0.33, 0., 0., 0., 0.  , 0.  , b'negative'),
       ...,
       (176., b'tcp', b'telnet', b'SF',  1559., 2732., b'0', b'0', b'0', 3., b'0', b'1', 4., b'1', b'0', 0., 1., b'0', b'0', b'0', b'0', b'0', 1., 1., 0., 0., 0., 0.  , 1., 0., 0.  ,  8.,  8., 1., 0., 0.12, 0., 0., 0., 0.12, 0.12, b'positive'),
       ( 61., b'tcp', b'telnet', b'SF',  2336., 4194., b'0', b'0', b'0', 3., b'0', b'1', 1., b'1', b'0', 0., 0., b'0', b'0', b'0', b'0', b'0', 1., 1., 0., 0., 0., 0.  , 1., 0., 0.  ,  9.,  9., 1., 0., 0.11, 0., 0., 0., 0.11, 0.11, b'positive'),
       ( 47., b'tcp', b'telnet', b'SF',  2402., 3816., b'0', b'0', b'0', 3., b'0', b'1', 2., b'1', b'0', 0., 0., b'0', b'0', b'0', b'0', b'0', 1., 1., 0., 0., 0., 0.  , 1., 0., 0.  , 10., 10., 1., 0., 0.1 , 0., 0., 0., 0.1 , 0.1 , b'positive')],
      dtype=[('Atr-0', '<f8'), ('Atr-1', 'S4'), ('Atr-2', 'S11'), ('Atr-3', 'S6'), ('Atr-4', '<f8'), ('Atr-5', '<f8'), ('Atr-6', 'S1'), ('Atr-7', 'S1'), ('Atr-8', 'S1'), ('Atr-9', '<f8'), ('Atr-10', 'S1'), ('Atr-11', 'S1'), ('Atr-12', '<f8'), ('Atr-13', 'S1'), ('Atr-14', 'S1'), ('Atr-15', '<f8'), ('Atr-16', '<f8'), ('Atr-17', 'S1'), ('Atr-18', 'S1'), ('Atr-19', 'S1'), ('Atr-20', 'S1'), ('Atr-21', 'S1'), ('Atr-22', '<f8'), ('Atr-23', '<f8'), ('Atr-24', '<f8'), ('Atr-25', '<f8'), ('Atr-26', '<f8'), ('Atr-27', '<f8'), ('Atr-28', '<f8'), ('Atr-29', '<f8'), ('Atr-30', '<f8'), ('Atr-31', '<f8'), ('Atr-32', '<f8'), ('Atr-33', '<f8'), ('Atr-34', '<f8'), ('Atr-35', '<f8'), ('Atr-36', '<f8'), ('Atr-37', '<f8'), ('Atr-38', '<f8'), ('Atr-39', '<f8'), ('Atr-40', '<f8'), ('Class', 'S8')])

In [20]:
meta

Dataset: kddcup-buffer_overflow_vs_back
	Atr-0's type is numeric
	Atr-1's type is nominal, range is ('icmp', 'tcp', 'udp')
	Atr-2's type is nominal, range is ('auth', 'bgp', 'courier', 'csnet_ns', 'ctf', 'daytime', 'discard', 'domain', 'domain_u', 'echo', 'eco_i', 'ecr_i', 'efs', 'exec', 'finger', 'ftp', 'ftp_data', 'gopher', 'hostnames', 'http', 'http_443', 'imap4', 'IRC', 'iso_tsap', 'klogin', 'kshell', 'ldap', 'link', 'login', 'mtp', 'name', 'netbios_dgm', 'netbios_ns', 'netbios_ssn', 'netstat', 'nnsp', 'nntp', 'ntp_u', 'other', 'pm_dump', 'pop_2', 'pop_3', 'printer', 'private', 'red_i', 'remote_job', 'rje', 'shell', 'smtp', 'sql_net', 'ssh', 'sunrpc', 'supdup', 'systat', 'telnet', 'tftp_u', 'time', 'tim_i', 'urh_i', 'urp_i', 'uucp', 'uucp_path', 'vmnet', 'whois', 'X11', 'Z39_50')
	Atr-3's type is nominal, range is ('OTH', 'REJ', 'RSTO', 'RSTOS0', 'RSTR', 'S0', 'S1', 'S2', 'S3', 'SF', 'SH')
	Atr-4's type is numeric
	Atr-5's type is numeric
	Atr-6's type is nominal, range is ('0', '1')
	Atr-7's type is nominal, range is ('0', '1', '3')
	Atr-8's type is nominal, range is ('0', '1', '2', '3')
	Atr-9's type is numeric
	Atr-10's type is nominal, range is ('0', '1', '2', '3', '4', '5')
	Atr-11's type is nominal, range is ('0', '1')
	Atr-12's type is numeric
	Atr-13's type is nominal, range is ('0', '1')
	Atr-14's type is nominal, range is ('0', '1', '2')
	Atr-15's type is numeric
	Atr-16's type is numeric
	Atr-17's type is nominal, range is ('0', '1', '2')
	Atr-18's type is nominal, range is ('0', '1', '2', '3', '4', '6', '8')
	Atr-19's type is nominal, range is ('0',)
	Atr-20's type is nominal, range is ('0',)
	Atr-21's type is nominal, range is ('0', '1')
	Atr-22's type is numeric
	Atr-23's type is numeric
	Atr-24's type is numeric
	Atr-25's type is numeric
	Atr-26's type is numeric
	Atr-27's type is numeric
	Atr-28's type is numeric
	Atr-29's type is numeric
	Atr-30's type is numeric
	Atr-31's type is numeric
	Atr-32's type is numeric
	Atr-33's type is numeric
	Atr-34's type is numeric
	Atr-35's type is numeric
	Atr-36's type is numeric
	Atr-37's type is numeric
	Atr-38's type is numeric
	Atr-39's type is numeric
	Atr-40's type is numeric
	Class's type is nominal, range is ('positive', 'negative')

In [15]:
pd.set_option('display.max_columns', None)

In [28]:
import mldb.binary_classification as bin_clas

In [29]:
bin_clas.load_glass0()

10 10

{'data': array([[ 1.51588824, 12.87795   ,  3.43036   , ...,  8.04468   ,
          0.        ,  0.1224    ],
        [ 1.5176423 , 12.9777    ,  3.53812   , ...,  8.52888   ,
          0.        ,  0.        ],
        [ 1.52212996, 14.20795   ,  3.82099   , ...,  9.5726    ,
          0.        ,  0.        ],
        ...,
        [ 1.51837126, 14.321     ,  3.25974   , ...,  5.78508   ,
          1.62855   ,  0.        ],
        [ 1.51657164, 14.7998    ,  0.        , ...,  8.2814    ,
          1.71045   ,  0.        ],
        [ 1.51732338, 14.95275   ,  0.        , ...,  8.61496   ,
          1.5498    ,  0.        ]]),
 'target': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 'feature_names': ['numerical__imputer__RI',
  'numerical__imputer__Na',
  'numerical__imputer__Mg',
  'numerical__imputer__Al',
  'numerical__imputer__Si',
  'numerical__imputer__K',
  'numerical__imputer__Ca',
  'numerical__imputer__Ba',
  'numerical__imputer__Fe'],
 'target_label': 'Class',
 'name': 'glass0',
 'citation': '@article{keel,\nauthor={Alcala-Fdez, J. and Fernandez, A. and Luengo, J. and Derrac, J. and Garcia, S. and Sanchez, L. and Herrera, F.},\ntitle={KEEL Data-Mining Software Tool: Data Set Repository, Integration of Algorithms and Experimental Analysis Framework},\njournal={Journal of Multiple-Valued Logic and Soft Computing},\nvolume={17},\nnumber={2-3},\nyear={2011},\npages={255-287}\n}\n',
 'n_col': 9,
 'n_col_orig': 9,
 'n': 214,
 'n_minority': 70,
 'imb_ratio': 2.057142857142857}

In [23]:
pd.DataFrame(db).nunique()

Atr-0      34
Atr-1       1
Atr-2       4
Atr-3       5
Atr-4      58
Atr-5      36
Atr-6       1
Atr-7       1
Atr-8       1
Atr-9       6
Atr-10      1
Atr-11      1
Atr-12      5
Atr-13      2
Atr-14      1
Atr-15      3
Atr-16      3
Atr-17      1
Atr-18      1
Atr-19      1
Atr-20      1
Atr-21      1
Atr-22     17
Atr-23     15
Atr-24      7
Atr-25      6
Atr-26     16
Atr-27     17
Atr-28      6
Atr-29      7
Atr-30     17
Atr-31    255
Atr-32    255
Atr-33      1
Atr-34      1
Atr-35     20
Atr-36      5
Atr-37      5
Atr-38      5
Atr-39     51
Atr-40     51
Class       2
dtype: int64

In [6]:
meta

Dataset: puma32h
	theta1's type is numeric
	theta2's type is numeric
	theta3's type is numeric
	theta4's type is numeric
	theta5's type is numeric
	theta6's type is numeric
	thetad1's type is numeric
	thetad2's type is numeric
	thetad3's type is numeric
	thetad4's type is numeric
	thetad5's type is numeric
	thetad6's type is numeric
	tau1's type is numeric
	tau2's type is numeric
	tau3's type is numeric
	tau4's type is numeric
	tau5's type is numeric
	dm1's type is numeric
	dm2's type is numeric
	dm3's type is numeric
	dm4's type is numeric
	dm5's type is numeric
	da1's type is numeric
	da2's type is numeric
	da3's type is numeric
	da4's type is numeric
	da5's type is numeric
	db1's type is numeric
	db2's type is numeric
	db3's type is numeric
	db4's type is numeric
	db5's type is numeric
	thetadd6's type is numeric

In [7]:
db= read_csv_data('data/classification/glass/glass.data.txt')
db.columns= list(db.columns[:-1]) + ['target']
del db[db.columns[0]]

In [8]:
db

           1      2     3     4      5     6     7     8    9  target
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0       1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0       1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0       1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0       1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0       1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...     ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0       7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0       7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0       7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0       7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0       7

[214 rows x 10 columns]

In [9]:

data = read_csv_data('data/classification/ada/ada_train.data', sep=' ', header=None)
labels = read_csv_data('data/classification/ada/ada_train.labels', header=None)

# dummy column replaced by labels due to trailing separator characters
data[48] = labels
data = data.rename({48: 'target_label'}, axis='columns')

data.columns= [str(col) for col in data.columns]

tmp = pd.DataFrame(data.nunique())

tmp.loc[tmp[0] > 5, 'type'] = 'numeric'
tmp.loc[tmp[0] <= 5, 'type'] = 'category'

feature_types = tmp['type'].to_dict()

In [10]:
print(len(data.columns))
print(len(feature_types))

49
49

In [11]:
data

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,target_label
0,0,404,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,-1
1,0,404,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,-1
2,0,303,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-1
3,0,454,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,-1
4,0,454,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4142,0,505,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,-1
4143,0,353,1,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-1
4144,0,151,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-1
4145,0,404,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4146,0,404,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-1

In [12]:
DataPreprocessor(dataset_raw=data,
                 target_label='target_label',
                 name='ada',
                 feature_types=feature_types,
                 citation_key='krnn').get_dataset()

49 49

ValueError: 'X' and 'missing_values' types are expected to be both numerical. Got X.dtype=int64 and  type(missing_values)=<class 'str'>.

In [ ]:
data.rename({48: 'target_label'}, axis='columns')

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,target_label
0,0,404,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,-1
1,0,404,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,-1
2,0,303,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-1
3,0,454,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,-1
4,0,454,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4142,0,505,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,-1
4143,0,353,1,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-1
4144,0,151,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-1
4145,0,404,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4146,0,404,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-1

In [ ]:
labels

      0
0    -1
1    -1
2    -1
3    -1
4     1
...  ..
4142 -1
4143 -1
4144 -1
4145  1
4146 -1

[4147 rows x 1 columns]

In [ ]:
tmp = pd.DataFrame(data.nunique())

In [ ]:
tmp

      0
0     2
1    75
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14  357
15    2
16    2
17   16
18    2
19   70
20    2
21    2
22    2
23   51
24    2
25    2
26    2
27    2
28    2
29   56
30    2
31    2
32    2
33    2
34    2
35    2
36    2
37    2
38    2
39    1
40    2
41    2
42    2
43    2
44    2
45    2
46    2
47    2
48    2

In [ ]:
tmp.loc[tmp[0] > 5, 'type'] = 'numeric'
tmp.loc[tmp[0] <= 5, 'type'] = 'category'

In [ ]:
tmp['type'].to_dict()

{0: 'category',
 1: 'numeric',
 2: 'category',
 3: 'category',
 4: 'category',
 5: 'category',
 6: 'category',
 7: 'category',
 8: 'category',
 9: 'category',
 10: 'category',
 11: 'category',
 12: 'category',
 13: 'category',
 14: 'numeric',
 15: 'category',
 16: 'category',
 17: 'numeric',
 18: 'category',
 19: 'numeric',
 20: 'category',
 21: 'category',
 22: 'category',
 23: 'numeric',
 24: 'category',
 25: 'category',
 26: 'category',
 27: 'category',
 28: 'category',
 29: 'numeric',
 30: 'category',
 31: 'category',
 32: 'category',
 33: 'category',
 34: 'category',
 35: 'category',
 36: 'category',
 37: 'category',
 38: 'category',
 39: 'category',
 40: 'category',
 41: 'category',
 42: 'category',
 43: 'category',
 44: 'category',
 45: 'category',
 46: 'category',
 47: 'category',
 48: 'category'}

In [ ]:
data, meta = read_arff_data('data/classification/crx/crx.dat')

In [ ]:
meta

Dataset: crx
	A1's type is nominal, range is ('b', 'a')
	A2's type is numeric
	A3's type is numeric
	A4's type is nominal, range is ('u', 'y', 'l')
	A5's type is nominal, range is ('g', 'p', 'gg')
	A6's type is nominal, range is ('w', 'q', 'm', 'r', 'cc', 'k', 'c', 'd', 'x', 'i', 'e', 'aa', 'ff', 'j')
	A7's type is nominal, range is ('v', 'h', 'bb', 'ff', 'j', 'z', 'o', 'dd', 'n')
	A8's type is numeric
	A9's type is nominal, range is ('t', 'f')
	A10's type is nominal, range is ('t', 'f')
	A11's type is numeric
	A12's type is nominal, range is ('f', 't')
	A13's type is nominal, range is ('g', 's', 'p')
	A14's type is numeric
	A15's type is numeric
	Class's type is nominal, range is ('positive', 'negative')

In [ ]:
db = read_csv_data('data/classification/hypothyroid/hypothyroid.data.txt')

In [ ]:
db.describe()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
count,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163,...,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163
unique,2,93,3,2,2,2,2,2,2,2,...,2,70,2,269,2,159,2,281,2,53
top,negative,?,F,f,f,f,f,f,f,f,...,y,?,y,?,y,?,y,?,n,?
freq,3012,446,2182,2702,3108,3121,3059,2922,2920,3100,...,2468,695,2914,249,2915,248,2916,247,2903,2903

In [ ]:
db[db == 'f'] = 0

In [ ]:
db[db == 't'] = 1

In [ ]:
import numpy as np
db[db == '?'] = np.nan
db[db == 'f'] = 0
db[db == 't'] = 1
db[db == 'F'] = 0
db[db == 'T'] = 1
db[db == 'n'] = 0
db[db == 'y'] = 1
db[db == 'M'] = 0
db[db == 'F'] = 1
db[db.columns[1:]] = db[db.columns[1:]].astype(float)

In [ ]:
db.dtypes.apply(lambda x: np.issubdtype(x, np.number))

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
dtype: bool

In [ ]:
db[db.columns[1:]].astype(float).describe()

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
count,2717.000000,3090.0,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,3163.000000,...,3163.000000,2468.000000,3163.000000,2914.000000,3163.000000,2915.000000,3163.000000,2916.000000,3163.000000,260.000000
mean,51.154214,0.0,0.145748,0.017389,0.013279,0.032880,0.076193,0.076826,0.019918,0.031299,...,0.780272,1.939749,0.921277,108.850000,0.921593,0.978199,0.921910,115.397771,0.082200,31.283077
std,19.294405,0.0,0.352909,0.130735,0.114483,0.178351,0.265349,0.266357,0.139740,0.174153,...,0.414128,0.996773,0.269348,45.485419,0.268853,0.226580,0.268356,60.239572,0.274713,19.224659
min,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.400000,1.000000,83.000000,1.000000,0.850000,1.000000,91.000000,0.000000,21.000000
50%,54.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.800000,1.000000,104.000000,1.000000,0.960000,1.000000,107.000000,0.000000,28.000000
75%,67.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.300000,1.000000,128.000000,1.000000,1.065000,1.000000,129.000000,0.000000,34.000000
max,98.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,10.200000,1.000000,450.000000,1.000000,2.210000,1.000000,881.000000,1.000000,122.000000

In [ ]:
db.describe()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
count,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163,...,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163
unique,2,93,3,2,2,2,2,2,2,2,...,2,70,2,269,2,159,2,281,2,53
top,negative,?,F,0,0,0,0,0,0,0,...,y,?,y,?,y,?,y,?,n,?
freq,3012,446,2182,2702,3108,3121,3059,2922,2920,3100,...,2468,695,2914,249,2915,248,2916,247,2903,2903

In [ ]:
db.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
dtype: object

In [ ]:
database_raw= read_csv_data('data/classification/sylva/sylva_train.data', sep= ' ')
    
# removing last column due to trailing whitespaces
del database_raw[database_raw.columns[-1]]

target= read_csv_data('data/classification/sylva/sylva_train.labels')
database_raw['target']= target

tmp = pd.DataFrame(database_raw.nunique())

In [ ]:
tmp

          0
0       170
1         2
2         2
3         2
4       910
...     ...
212       2
213       2
214       2
215       2
target    2

[217 rows x 1 columns]

In [ ]:
np.issubdtype(float, np.number)

True

In [ ]:
tmp.loc[((tmp[0] > 5) | database_raw.dtypes.apply(lambda x: np.issubdtype(x, np.number))), 'type'] = 'numeric'

In [ ]:
tmp

          0     type
0       170  numeric
1         2  numeric
2         2  numeric
3         2  numeric
4       910  numeric
...     ...      ...
212       2  numeric
213       2  numeric
214       2  numeric
215       2  numeric
target    2  numeric

[217 rows x 2 columns]

In [ ]:
tmp.loc[((tmp[0] > 5) | tmp.dtypes.apply(lambda x: np.issubdtype(x, np.number))), 'type'] = 'numeric'
tmp.loc[(tmp['type'] != 'numeric') & ((tmp[0] <= 5) | ~tmp.dtypes.apply(lambda x: np.issubdtype(x, np.number))), 'type'] = 'category'

In [ ]:
feature_types = tmp['type'].to_dict()

In [ ]:
feature_types

{0: 'numeric',
 1: 'category',
 2: 'category',
 3: 'category',
 4: 'numeric',
 5: 'category',
 6: 'category',
 7: 'category',
 8: 'category',
 9: 'numeric',
 10: 'category',
 11: 'numeric',
 12: 'numeric',
 13: 'category',
 14: 'category',
 15: 'category',
 16: 'category',
 17: 'category',
 18: 'category',
 19: 'category',
 20: 'numeric',
 21: 'category',
 22: 'numeric',
 23: 'numeric',
 24: 'category',
 25: 'category',
 26: 'category',
 27: 'category',
 28: 'category',
 29: 'category',
 30: 'category',
 31: 'category',
 32: 'category',
 33: 'category',
 34: 'category',
 35: 'category',
 36: 'category',
 37: 'category',
 38: 'category',
 39: 'category',
 40: 'category',
 41: 'category',
 42: 'category',
 43: 'category',
 44: 'category',
 45: 'category',
 46: 'category',
 47: 'category',
 48: 'numeric',
 49: 'category',
 50: 'category',
 51: 'numeric',
 52: 'category',
 53: 'numeric',
 54: 'numeric',
 55: 'category',
 56: 'category',
 57: 'category',
 58: 'category',
 59: 'numeric',
 60: 'category',
 61: 'category',
 62: 'numeric',
 63: 'category',
 64: 'category',
 65: 'category',
 66: 'category',
 67: 'category',
 68: 'category',
 69: 'numeric',
 70: 'category',
 71: 'category',
 72: 'category',
 73: 'category',
 74: 'numeric',
 75: 'category',
 76: 'category',
 77: 'category',
 78: 'category',
 79: 'category',
 80: 'category',
 81: 'category',
 82: 'category',
 83: 'category',
 84: 'category',
 85: 'category',
 86: 'category',
 87: 'category',
 88: 'category',
 89: 'category',
 90: 'category',
 91: 'numeric',
 92: 'category',
 93: 'category',
 94: 'category',
 95: 'category',
 96: 'numeric',
 97: 'numeric',
 98: 'category',
 99: 'category',
 100: 'category',
 101: 'numeric',
 102: 'category',
 103: 'category',
 104: 'category',
 105: 'category',
 106: 'numeric',
 107: 'category',
 108: 'category',
 109: 'numeric',
 110: 'category',
 111: 'numeric',
 112: 'category',
 113: 'category',
 114: 'category',
 115: 'category',
 116: 'category',
 117: 'category',
 118: 'category',
 119: 'category',
 120: 'category',
 121: 'category',
 122: 'category',
 123: 'category',
 124: 'category',
 125: 'category',
 126: 'category',
 127: 'category',
 128: 'category',
 129: 'category',
 130: 'category',
 131: 'category',
 132: 'category',
 133: 'category',
 134: 'category',
 135: 'category',
 136: 'category',
 137: 'category',
 138: 'category',
 139: 'category',
 140: 'category',
 141: 'category',
 142: 'numeric',
 143: 'category',
 144: 'category',
 145: 'category',
 146: 'numeric',
 147: 'category',
 148: 'numeric',
 149: 'category',
 150: 'category',
 151: 'numeric',
 152: 'numeric',
 153: 'numeric',
 154: 'category',
 155: 'category',
 156: 'category',
 157: 'category',
 158: 'category',
 159: 'category',
 160: 'category',
 161: 'numeric',
 162: 'category',
 163: 'numeric',
 164: 'numeric',
 165: 'numeric',
 166: 'category',
 167: 'numeric',
 168: 'category',
 169: 'category',
 170: 'category',
 171: 'category',
 172: 'category',
 173: 'category',
 174: 'category',
 175: 'category',
 176: 'numeric',
 177: 'numeric',
 178: 'category',
 179: 'numeric',
 180: 'category',
 181: 'category',
 182: 'category',
 183: 'category',
 184: 'category',
 185: 'category',
 186: 'category',
 187: 'category',
 188: 'category',
 189: 'category',
 190: 'category',
 191: 'category',
 192: 'category',
 193: 'category',
 194: 'numeric',
 195: 'category',
 196: 'category',
 197: 'category',
 198: 'category',
 199: 'category',
 200: 'category',
 201: 'numeric',
 202: 'category',
 203: 'numeric',
 204: 'category',
 205: 'category',
 206: 'category',
 207: 'category',
 208: 'category',
 209: 'category',
 210: 'category',
 211: 'category',
 212: 'category',
 213: 'category',
 214: 'category',
 215: 'category',
 'target': 'category'}

In [ ]:
database_raw.dtypes

0         int64
1         int64
2         int64
3         int64
4         int64
          ...
212       int64
213       int64
214       int64
215       int64
target    int64
Length: 217, dtype: object